{% extends 'base.html' %}
{% load tz %}


{% block page_title %}
    Phase10Scorer | Dashboard
{% endblock %}

{% block content %}

    <h2>
        <center>Welcome {{ request.user.username }}</center>
    </h2>
    <a class="btn btn-danger btn-user btn-block" href="{% url 'game:new_game' %}" role="button">Start New Game</a>

    <hr>

    <h3>
        <center>Current Games</center>
    </h3>
    {% if games %}
        {% for game in games %}
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <div class="d-block card-header py-3">
                    <div class="inline-group">
                        {{ game.name }}
                    </div>
                </div>
                <div class="collapse show" id="collapseCardExample{{ game.id }}">
                    <div class="card-body">
                        <p class="mb-0 small text-gray">Players:
                            {% for j in game.players.all %}{{ j.username }}, {% endfor %}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ game.get_url }}"
                       class="btn btn-primary btn-user btn-block">Go To Game</a>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            <center>No Active Games</center>
        </div>
    {% endif %}




{% endblock %}